@import url("./style.scss");

$background-color-light: #fff;
$background-color-dark: #090014;
$background-color-primary: #130138;
$background-color-secondary: #eff2f5;

$color-black: #111;
$color-white: #eee;

$color-border: #d4d4d4;
$color-text: #55626f;
$text-color-secondary: #bebebe;

$chart-light-bg: #fff;
$chart-dark-bg: #050505;

$color-border-light: #d4d4d4;
$color-border-dark: #333333;

$color-links: #1565c0;
